rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return signedIn() && request.auth.uid == userId;
    }

    function resourceOwner() {
      return signedIn() && resource.data.userId == request.auth.uid;
    }

    function requestOwner() {
      return signedIn() && request.resource.data.userId == request.auth.uid;
    }

    match /users/{userId} {
      allow read, write: if isOwner(userId);
    }

    match /products/{productId} {
      allow read: if resourceOwner();
      allow create: if requestOwner();
      allow update, delete: if resourceOwner();
    }

    match /transactions/{transactionId} {
      allow read: if resourceOwner();
      allow create: if requestOwner();
      allow update, delete: if resourceOwner();
    }

    match /closings/{closingId} {
      allow read: if resourceOwner();
      allow create: if requestOwner();
      allow update, delete: if resourceOwner();
    }
  }
}
